body {
    
    font-family: Helvetica;
    font-size: 14px;
    color: #fff;
	/* background: url(img/holz-1024x768.jpg) fixed center center; */
  background-image: url("img/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
body > * {
/*
  
*/		
}

h1, h2 {
    font: bold 16px Helvetica;
    text-shadow: rgba(255,255,255,.2) 0 1px 1px;
    color: #000;
    color: #eee;
    text-align: center;
    margin: 10px 10px 5px;
}
    
p {
	margin-left: 6px;
}

/*  *********  HOME ********* */
#splash, #splash2 {				
    position: absolute;
    top: 15%;
}
#splash2 {				
    position: absolute;
    left: 30vw;
}

/*  *********  JUEGO ********* */


.signos {
    /* position: absolute;
    margin: 0; */
	width: 300px;		/*  ANCHO DE CADA IMAGEN *********************************** */
}

#arrl, #fj {	
    height: 58px;
    width: 75px;
}
#ig1, #ig2, #ig3, #ig4, #ig5 {	
    position: absolute;
    height: 12vw;
    width: 12vw;
}
